'atom-text-editor':
  'ctrl-i': 'editor:auto-indent'
	'ctrl-j': 'atom-beautify:atom-beautify-editor'

'atom-workspace atom-text-editor:not([mini])':
  'ctrl-ß': 'tree-view:toggle'
	'ESC': 'linter:togglePanel'

# ***************************************************************************************************
# You can find more information about keymaps in these guides:
# * http://flight-manual.atom.io/using-atom/sections/basic-customization/#_customizing_keybindings
# * http://flight-manual.atom.io/behind-atom/sections/keymaps-in-depth/
#
# Keybinding Resolver: `Ctrl+.`. Debugging guide:
# * http://flight-manual.atom.io/hacking-atom/sections/debugging/#check-the-keybindings
#
# Atom Flight Manual:
# http://flight-manual.atom.io/using-atom/sections/basic-customization/#_cson
